<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" action="add_image/">
        {% csrf_token %}
        <p>
            <label>Введите название</label><br>
            <input type="text" name="name">
        </p>
        <p>
            <label>Загрузить картинку</label><br>
            <input type="file" name="image">
        </p>
        <input type="submit" value="Сохранить">
    </form>


    <form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit"> Save </button>

    </form>

    {% if pictures.count > 0 %}
    <h2>Список картинок</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Изображение</th>
        </tr>
        {% for picture in pictures %}
        <tr>
            <td>{{ picture.id }}</td>
            <td>{{ picture.title }}</td>
            <td>

            {% if picture.photo %}
                <img src="{{ picture.photo.url }} " alt=" {{ picture.title }} " width="200">
            {% else %}
                <p> изображение не загружено пользователем </p>
            {% endif %}

            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p> </p>
    {% endif %}

</body>
</html>